@import url('https://fonts.googleapis.com/css?family=Amaranth&display=swap');

// Set your brand colors
$purple: #8A4D76;
$pink: #FA7C91;
$brown: #757763;
$beige-light: #D0D1CD;
$beige-lighter: #EFF0EB;
//$white: #FFFFFF;

// Update Bulma's global variables
$family-sans-serif: "Amaranth", sans-serif;
$grey-dark: $brown;
//$grey-darker: $brown;
$grey-light: $beige-light;
//$grey-lighter: $beige-light;
$primary: $purple;
$link: $pink;

// Update some of Bulma's component variables
$control-border-width: 2px;
$input-background-color: $beige-lighter;
$input-border-color: transparent;
$input-shadow: none;

html, body, #root {
  height: 100%;
}
body {
  background:whitesmoke;
  background-repeat:no-repeat;
  background-position: center center;
  background-image: url('mustang.jpg');
  background-size: contain;
  margin: 0;
  display: grid;
  padding: 3em;
  place-items: center;
  
}
.boxes {
  display: grid;
  grid-gap: 2em;
  grid-template-columns: repeat(2, minmax(350px, 1fr));
  grid-template-rows: auto;
}
.box {
  display: flex;
  flex-direction: column;
  height: 100%;
  h1 {
    font-size: 20px;
    margin: 0 0 1rem 0;
  }
  .content {
    padding-top: 1em;
  }
  ol {
    margin-left: 0;
    li {
      align-items: center;
      display: flex;
      justify-content: flex-start;
    }
  }
}

.button {
  margin-right: 1em;
}

//@import "bulma/sass/utilities/_all.sass";
//@import "bulma/sass/elements/button.sass";